:root {
  --primary: #5b3fe3;
  --black: #000000;
  --white: #ffffff;
}
::selection {
  color: var(--black);
  background: var(--primary);
}
@font-face {
  font-family: "Syne";
  src: local("Syne-Regular"),
    url("../fonts/Syne-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Syne";
  src: local("Syne-Bold"), url("../fonts/Syne-Bold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Syne";
  src: local("Syne-Bold"), url("../fonts/Syne-Bold.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
h1 a,
h2 a {
  font-weight: 600;
  text-decoration: underline;
}

h2 {
  font-size: 43px;
  margin: 0 100px 70px 0;
  max-width: 570px;
}
a {
  font-weight: 300;
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Syne", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 120%;
  box-sizing: border-box;
  z-index: 1;
  color: var(--white);
}

img {
  min-width: 100%;
}

html {
  scroll-behavior: smooth;
  background-color: var(--black);
}

.nav-mobile {
  display: none;
}

.content {
  position: relative;
}

.video {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: -2;
}

.video video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 12px 35px;
  place-items: center;
  z-index: 2;
  user-select: none;
}
.menu img {
  margin: 15px 0;
}

.menu .nav {
  width: auto;
  height: 100%;
}

.menu .nav .nav-item {
  padding: 15px 25px;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  position: sticky;
  top: 0;
  padding: 8% 40px;
  z-index: -1;
  transform: translateY(50px);
}

.hero h1 {
  max-width: 1000px;
  text-align: center;
  font-size: 60px;
  padding-bottom: 30px;
}

.hero p {
  text-align: center;
  font-size: 20px;
  max-width: 500px;
  line-height: 170%;
}

.hero p a {
  text-decoration: underline;
}

.portfolio {
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
  padding: 100px 100px;
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scaleX(0.9) scaleY(0.9) translateY(50px);
  border-radius: 10px;
  /* transition: ease 1s; */
}

.portfolio .hidden-link {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  /* background-color: red; */
}
/* .portfolio:hover {
  transform: scaleX(0.85) scaleY(0.85) translateY(50px);
} */

.portfolio h2,
h3 {
  color: var(--black);
  margin-bottom: 20px;
}

.footer {
  min-height: calc(100vh + 15px);
  padding: 80px 15%;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer nav a {
  font-size: 18px;
  text-decoration: none;
  margin-right: 45px;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  padding: 8% 120px;
  animation: openModal 2s ease;
  overflow-x: hidden;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.modal-content h1,
h2,
h3,
p {
  color: var(--white);
}
.modal-content h1 {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 62px;
  max-width: 1200px;
}
.modal-content p {
  line-height: 160%;
  font-size: 20px;
  font-weight: 200;
}

.modal.mostrar {
  display: block;
}

@keyframes openModal {
  0% {
    opacity: 0;
    padding-top: 12%;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  20% {
    opacity: 1;
    padding-top: 8%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  100% {
    opacity: 1;
    padding-top: 8%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
}

.modal .close {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 45px;
  top: 30px;
  background-color: #22222280;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media screen and (max-width: 1024px) {
  .hero h1 {
    font-size: 50px;
  }
  .portfolio {
    padding: 10% 8%;
  }
  .portfolio h2 {
    font-size: 43px;
    max-width: 50%;
  }

  .modal {
    padding: 8% 50px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .hero {
    transform: translateY(70px);
    padding: 8% 40px 1% 40px;
  }
  .hero h1 {
    font-size: 45px;
  }
  .nav-mobile {
    display: block;
    background: url("../imagens/menu.svg");
    width: 60px;
    height: 60px;
    background-color: #22222280;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    cursor: pointer;
  }

  .menu {
    padding: 12px 12px 20px 20px;
  }

  .portfolio {
    padding: 12% 8%;
    background-position: 100% 150%;
  }

  .portfolio h2 {
    font-size: 40px;
  }
  .portfolio .hidden-link {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
  }

  .footer {
    padding: 80px 8%;
  }
  .modal {
    padding: 8% 20px;
  }
  .modal .close {
    right: 10px;
    top: 10px;
  }
  .modal-content h1 {
    font-size: 42px;
  }
}

@media screen and (max-height: 650px) {
  .hero p {
    display: none;
  }
}
