:root {
  --primary: #76e59f;
  /* --primary: #5b3fe3; */
  --black: #1c1c1c;
  --white: #ffffff;
}
::selection {
  color: var(--black);
  background: var(--primary);
}
@font-face {
  font-family: "Syne";
  src: local("Syne-Regular"),
    url("../fonts/Syne-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Syne";
  src: local("Syne-Bold"), url("../fonts/Syne-Bold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Syne";
  src: local("Syne-Bold"), url("../fonts/Syne-Bold.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
h1 a,
h2 a {
  font-weight: 600;
  text-decoration: underline;
}

h2 {
  font-size: 43px;
  margin: 0 100px 70px 0;
  max-width: 570px;
}
a {
  font-weight: 300;
  text-decoration: none;
  color: var(--white);
}

.bold {
  font-weight: 600;
}

body {
  overflow-x: hidden;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Syne", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 120%;
  box-sizing: border-box;
  z-index: 1;
  /* color: var(--white); */
}

img {
  min-width: 100%;
}

html {
  scroll-behavior: smooth;
  background-color: var(--black);
  color: var(--white);
}

.hamburger-button {
  display: none;
}

.sticky-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-mobile {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #1c1c1c99;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 15% 40px 10%;
  transition: 0.7s ease;
  z-index: 2;
}
.nav-mobile-visible {
  right: 0;
}

.nav-mobile nav {
  font-size: 45px;
  font-weight: 200;
  display: grid;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.nav-mobile nav a {
  padding: 10px 0;
  display: block;
  font-weight: 600;
}

.nav-mobile nav span:first-child {
  font-size: 18px;
  opacity: 0.3;
  padding: 25px 0 20px;
}

.nav-mobile nav span {
  font-size: 18px;
  opacity: 0.3;
  padding: 40px 0 20px;
}

.nav-mobile nav h3 {
  font-weight: 200;
  font-size: 20px;
  text-decoration: underline;
  margin: 0;
  padding: 0 0 20px 0;
}

.menu {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* place-items: center; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* position: fixed; */
  top: 0;
  left: 0;

  padding: 20px 35px;
  /* place-items: center; */
  z-index: 99;
  user-select: none;
  animation: menuIn 1.5s ease;
}

.memoji:hover {
  transform: scale(0.9);
  transition: 0.3s ease;
}
.memoji {
  transform: scale(0.8);
  z-index: 3;
  width: 140px;
  height: 140px;
  justify-self: center;
  /* margin: 0 auto; */
  /* position: fixed; */
  /* top: 10px; */
  /* right: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.memoji video {
  border-radius: 50%;
  position: absolute;
}
.memoji img {
  transform: rotate(0deg);
  animation: rotate 15s linear infinite;
  width: 140px;
  height: 140px;
}
/* MENU MOBILE 2.0 */

.mailBox .mail {
  min-width: 24px;
  padding-right: 15px;
  /* background-color: #76e59f; */
}

.mailBox {
  z-index: 3;
  display: flex;
  overflow: hidden;
  justify-self: start;
  /* position: fixed; */
  /* top: 30px; */
  /* left: 30px; */
  align-items: center;
  /* justify-content: center; */
  /* padding: 0 30px; */
  height: 50px;
  cursor: pointer;
  /* border: 1px solid #454545; */
  /* background-color: #22222220; */

  /* border-radius: 30px; */
}

.menuViewBox {
  z-index: 3;
  display: flex;
  justify-self: end;
  /* position: fixed; */
  /* top: 30px; */
  /* right: 30px; */
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: #222222;
  border-radius: 50%;
}

.menuLine {
  position: relative;
  width: 30px;
  background-color: white;
  height: 2px;
  transition: 0.4s ease;
  box-sizing: border-box;
}

.menuLine::before,
.menuLine::after {
  position: absolute;
  content: "";
  width: 30px;
  background-color: white;
  height: 2px;
  transition: 0.4s ease;
}

.menuLine::before {
  transform: translate(0, -8px);
  /* transform: rotate(45deg); */
}

.menuLine::after {
  transform: translateY(8px);
}

.ativo::before {
  transform: rotate(40deg);
}

.ativo::after {
  transform: rotate(-40deg);
}

.menuLine.ativo {
  /* box-shadow: inset 0 2px 0 #222222; */
  background-color: #222222;
}
@keyframes menuIn {
  0%,
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.menu img {
  margin: 15px 0;
}

.menu .nav {
  width: auto;
  height: 100%;
  padding-top: 20px;
}

.menu .nav .nav-item {
  padding: 15px 25px;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(80vh - 180px);
  /* position: sticky; */
  /* top: 0; */
  /* padding: 0 40px; */
  z-index: -1;
  animation: heroIn 1.3s ease;
  /* transform: translateY(-100px); */
}

@keyframes heroIn {
  from {
    min-height: 110vh;
    opacity: 0;
  }
  to {
    min-height: calc(80vh - 180px);
    opacity: 1;
  }
}

.hero h1 {
  max-width: 1000px;
  text-align: center;
  font-size: 60px;
  padding-bottom: 30px;
}

.hero p {
  text-align: center;
  font-size: 20px;
  max-width: 500px;
  line-height: 170%;
}

.hero p a {
  text-decoration: underline;
}

.ovf-y-hidden {
  overflow-y: hidden;
}

.portfolio {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
  padding: 100px 100px;
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 30px;
  transform: scaleX(0.8) scaleY(0.8) translateY(0px);
  z-index: -1;
}

.portScroll05 {
  position: relative;
  top: none;
  height: 105vh;
}

.hidden-link {
  position: absolute;
  /* background-color: red; */
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
}

.portfolio h2,
h3 {
  color: var(--black);
  margin-bottom: 20px;
}

.footer {
  min-height: 100vh;
  width: 100%;
  padding: 80px 15%;
  color: var(--black);
  display: flex;
  background-color: var(--black);
  flex-direction: column;
  justify-content: center;
  /* margin-top: 100px; */
  /* transform: scaleX(0.961) scaleY(0.961) translateY(20px); */
}

/* .footer::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  background-color: rgb(0, 0, 0, 0);
  width: 100%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 10px 0 0 var(--black);
} */

.footer nav a {
  font-size: 18px;
  text-decoration: none;
  margin-right: 45px;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  padding: 8% 120px;
  animation: openModal 2s ease;
  overflow-x: hidden;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px) !;
}
.modal-content {
  max-width: 1200px;
}

.modal-content h1,
h2,
h3,
p {
  color: var(--white);
}
.modal-content h1 {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 62px;
  max-width: 1200px;
}
.modal-content p {
  line-height: 160%;
  font-size: 20px;
  font-weight: 200;
}

.modal.mostrar {
  display: flex;
  justify-content: center;
}

@keyframes openModal {
  0% {
    opacity: 0;
    padding-top: 12%;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  20% {
    opacity: 1;
    padding-top: 8%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  100% {
    opacity: 1;
    padding-top: 8%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
}

.modal .close {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 45px;
  top: 30px;
  background-color: #22222280;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .hero h1 {
    font-size: 50px;
  }
  .portfolio {
    padding: 10% 8%;
  }
  .portfolio h2 {
    font-size: 43px;
    max-width: 50%;
  }

  .modal {
    padding: 8% 50px;
  }
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 45px;
  }

  .mailBox {
    opacity: 0;
  }

  /* .btn-menu {
    display: block;
    background: url("../imagens/menu.svg");
    width: 60px;
    height: 60px;
    background-color: #22222280;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    cursor: pointer;
    transition: 0.3s ease;
  }

  .btn-menu-icon {
    background: url("../imagens/close.svg");
    width: 60px;
    height: 60px;
    background-color: #22222280;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    cursor: pointer;
    transition: 0.3s ease;
  } */

  .menu {
    padding: 12px 12px 20px 20px;
  }

  .portfolio {
    padding: 12% 8%;
    background-position: 100% 150%;
  }

  .portfolio h2 {
    font-size: 40px;
    max-width: 100%;
    margin: 0;
  }
  .portfolio .hidden-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .footer {
    padding: 80px 8%;
  }
  .modal {
    padding: 8% 20px;
  }
  .modal .close {
    right: 10px;
    top: 10px;
  }
  .modal-content h1 {
    font-size: 42px;
  }
}

@media screen and (max-height: 650px) {
  .hero p {
    display: none;
  }
}
