:root {
  --primary: #76e59f;
  --black: #161616;
  --white: #ffffff;
}
::selection {
  color: var(--black);
  background: var(--primary);
}
@font-face {
  font-family: "Syne";
  src: local("Syne-Regular"),
    url("../fonts/Syne-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Syne";
  src: local("Syne-Bold"), url("../fonts/Syne-Bold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Syne";
  src: local("Syne-Bold"), url("../fonts/Syne-Bold.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
h1 a,
h2 a {
  font-weight: 600;
  text-decoration: underline;
}

h2 {
  font-size: 43px;
  margin: 0 100px 70px 0;
  max-width: 570px;
}
a {
  font-weight: 300;
  text-decoration: none;
  color: var(--white);
}

.bold {
  font-weight: 600;
}

body {
  overflow-x: hidden;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Syne", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 120%;
  box-sizing: border-box;
  z-index: 1;
  /* color: var(--white); */
}

img {
  min-width: 100%;
}

html {
  scroll-behavior: smooth;
  background-color: var(--black);
  color: var(--white);
}

.hamburger-button {
  display: none;
}

.sticky-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-mobile {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #00000080;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 15% 40px 5%;
  transition: 0.7s ease;
  z-index: 2;
}
.nav-mobile-visible {
  right: 0;
}

.nav-mobile nav {
  font-size: 45px;
  font-weight: 200;
  display: grid;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.nav-mobile nav a {
  padding: 10px 0;
  display: block;
  font-weight: 600;
}

.nav-mobile nav span:first-child {
  font-size: 18px;
  opacity: 0.3;
  padding: 20px 0 20px;
}

.nav-mobile nav span {
  font-size: 18px;
  opacity: 0.3;
  padding: 20px 0 20px;
}

.nav-mobile nav h3 {
  font-weight: 200;
  font-size: 20px;
  text-decoration: underline;
  margin: 0;
  padding: 0 0 20px 0;
}

.menu {
  width: 100%;
  height: 140px;
  display: flex;
  padding: 0 35px;
  margin: 20px 0;
  user-select: none;
  animation: menuIn 1.5s ease;
}
@keyframes menuIn {
  0%,
  50% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0);
  }
}

.menuLeft,
.menuCenter,
.menuRight {
  width: 33.3333%;
  display: flex;
  z-index: 3;
}

.embreve {
  color: rgba(255, 255, 255, 0.2);
  position: relative;
  cursor: not-allowed;
}
.embreve::after {
  content: "COMING SOON";
  font-size: 13px;
  width: 150px;
  font-weight: 200;
  letter-spacing: 5px;
  color: white;
  position: absolute;
  top: 20%;
  left: calc(52% - 150px / 2);
}

.menuLeft {
  justify-content: start;
}
.menuCenter {
  justify-content: center;
}

.menuRight {
  justify-content: flex-end;
}

.memoji {
  /* grid-column: 2; */
  transform: scale(0.86);
  z-index: 3;
  width: 140px;
  height: 140px;
  /* justify-self: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  position: fixed;
}
.memoji video {
  border-radius: 50%;
  width: 100px;
  position: absolute;
}

.memoji img {
  animation: rotate 15s linear infinite;
  width: 140px;
  height: 140px;
}

.memoji:hover {
  transform: scale(1);
  transition: 0.3s ease;
}

.memoji-fixed {
  transform: translateY(-30px) scale(0.6);
  animation: memojiAnimation 1s ease;
}
.memoji-fixed:hover {
  transform: translateY(-30px) scale(0.8);
  transition: 0.3s ease-in-out;
}

@keyframes memojiAnimation {
  0% {
    transform: translateY(0) scale(0.86);
  }
  50% {
    transform: translateY(-15px) scale(0.1);
  }
  100% {
    transform: translateY(-30px) scale(0.6);
  }
}

/* MENU MOBILE 2.0 */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mailBox .mail {
  min-width: 24px;
  padding-right: 15px;
}

.mailBox {
  grid-column: 1;
  z-index: 3;
  display: flex;
  overflow: hidden;
  justify-self: start;
  align-items: center;
  height: 50px;
  cursor: pointer;
  width: 100%;
}

.menuViewBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: #222222;
  border-radius: 50%;
}

.menuLine {
  position: relative;
  width: 30px;
  background-color: white;
  height: 2px;
  transition: 0.4s ease;
  box-sizing: border-box;
}

.menuLine::before,
.menuLine::after {
  position: absolute;
  content: "";
  width: 30px;
  background-color: white;
  height: 2px;
  transition: 0.4s ease;
}

.menuLine::before {
  transform: translate(0, -8px);
}

.menuLine::after {
  transform: translateY(8px);
}

.ativo::before {
  transform: rotate(40deg);
}

.ativo::after {
  transform: rotate(-40deg);
}

.menuLine.ativo {
  background-color: #222222;
}

.menu .nav {
  width: auto;
  height: 100%;
  padding-top: 20px;
}

.menu .nav .nav-item {
  padding: 15px 25px;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(80vh - 180px);
  z-index: -1;
  animation: heroIn 1.3s ease;
}

@keyframes heroIn {
  from {
    min-height: 110vh;
    opacity: 0;
  }
  to {
    min-height: calc(80vh - 180px);
    opacity: 1;
  }
}

.hero h1 {
  max-width: 1000px;
  text-align: center;
  font-size: 60px;
  padding: 0 20px 40px 20px;
}

.hero p {
  text-align: center;
  font-size: 20px;
  padding: 0 20px;
  max-width: 500px;
  line-height: 170%;
}

.hero p a {
  text-decoration: underline;
}

.ovf-y-hidden {
  overflow-y: hidden;
}

.portfolio {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
  padding: 100px 100px;
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 30px;
  transform: scaleX(0.8) scaleY(0.8) translateY(0px);
  z-index: -1;
}

.hidden-link {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
}

.portfolio h2,
h3 {
  color: var(--black);
  margin-bottom: 20px;
}

.footer {
  min-height: 100vh;
  width: 100%;
  padding: 80px 15%;
  color: var(--black);
  display: flex;
  background-color: var(--black);
  flex-direction: column;
  justify-content: center;
}
.footer nav a {
  font-size: 18px;
  text-decoration: none;
  margin-right: 45px;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  padding: 8% 120px;
  animation: openModal 2s ease;
  overflow-x: hidden;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px) !;
}
.modal-content {
  max-width: 1200px;
}

.modal-content h1,
h2,
h3,
p {
  color: var(--white);
}
.modal-content h1 {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 62px;
  max-width: 1200px;
}
.modal-content p {
  line-height: 160%;
  font-size: 20px;
  font-weight: 200;
}

.modal.mostrar {
  display: flex;
  justify-content: center;
}

@keyframes openModal {
  0% {
    opacity: 0;
    padding-top: 12%;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  20% {
    opacity: 1;
    padding-top: 8%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  100% {
    opacity: 1;
    padding-top: 8%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
}

.modal .close {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 45px;
  top: 30px;
  background-color: #22222280;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media screen and (max-width: 1024px) {
  .hero h1 {
    font-size: 50px;
  }
  .portfolio {
    padding: 10% 8%;
  }
  .portfolio h2 {
    font-size: 43px;
    max-width: 50%;
  }

  .modal {
    padding: 8% 50px;
  }
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 40px;
  }
  .portfolio {
    padding: 12% 8%;
    background-position: 100% 150%;
  }

  .portfolio h2 {
    font-size: 40px;
    max-width: 100%;
    margin: 0;
  }
  .portfolio .hidden-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .footer {
    padding: 80px 8%;
  }
  .modal {
    padding: 8% 20px;
  }
  .modal .close {
    right: 10px;
    top: 10px;
  }
  .modal-content h1 {
    font-size: 42px;
  }
  .memoji video {
    border-radius: 50%;
    width: 80px;
    position: absolute;
  }

  .memoji img {
    animation: rotate 15s linear infinite;
    width: 120px;
    height: 120px;
  }
  .mailBox {
    display: none;
  }
  .menu {
    padding: 0 20px;
  }
  .memoji {
    position: relative;
  }
}

@media screen and (max-height: 650px) {
  .hero p {
    display: none;
  }
}
