:root {
  --primary: #5b3fe3;
  --black: #000000;
  --white: #ffffff;
}

@font-face {
  font-family: "Syne";
  src: local("Syne-Regular"), url("./fonts/Syne-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Syne";
  src: local("Syne-Bold"), url("./fonts/Syne-Bold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Syne";
  src: local("Syne-Bold"), url("./fonts/Syne-Bold.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
h1 a,
h2 a {
  font-weight: 600;
  text-decoration: underline;
}
h2 {
  font-size: 43px;
  margin: 0 100px 70px 0;
  max-width: 570px;
}
a {
  font-weight: 300;
  text-decoration: none;
}
.bold {
  font-weight: 600;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Syne", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 120%;
  box-sizing: border-box;
  z-index: 1;
  color: var(--white);
}
img {
  min-width: 100%;
}

html {
  scroll-behavior: smooth;
  background-color: var(--black);
}

@media screen and (max-width: 768px) {
  .nav {
    display: none !important;
  }
  .hero h1 {
    font-size: 50px !important;
    /* padding: 10% 40px; */
  }
}

.content {
  position: relative;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 12px 35px;
  place-items: center;
  z-index: 2;
}
.menu img {
  margin: 15px 0;
}

.menu .nav {
  width: auto;
  height: 100%;
}

.menu .nav .nav-item {
  padding: 15px 25px;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  position: sticky;
  top: 0;
  padding: 10% 40px;
  z-index: -1;
}

.hero h1 {
  max-width: 1000px;
  text-align: center;
  font-size: 60px;
  padding-bottom: 30px;
}

.hero p {
  text-align: center;
  font-size: 20px;
  max-width: 500px;
  line-height: 170%;
}

.portfolio {
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
  padding: 100px 100px;
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio h2,
h3 {
  color: var(--black);
  margin-bottom: 10px;
}

.footer {
  height: 570px;
  padding: 80px 15%;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer nav a {
  font-size: 18px;
  text-decoration: none;
  margin-right: 45px;
}
