<div class="menu exclusion">
    <div class="menuLeft"><a class="mailBox">
            <img src="./imagens/mail.svg" alt="" class="mail">
            <p>neiltonline@gmail.com</p>
        </a></div>
    <div class="menuCenter">
        <div class="memoji" data-cursor-stick>
            <img src="./imagens/contact-circle.svg" alt="">
            <video autoplay muted loop>
                <source src="./imagens/neiltin.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="menuRight"> <a class="menuViewBox" data-cursor-stick>
            <div class="menuLine"></div>
        </a></div>




    <!-- <div class="nav">
        <nav>
            <a href="/index.html#work" class="nav-item exclusion" data-cursor-stick>Work</a>
            <a href="/" class="nav-item exclusion" data-cursor-stick>About</a>
            <a href="/" class="nav-item exclusion" data-cursor-stick>Contact</a>
        </nav>
    </div> -->

</div>


<!-- MOBILE -->

<div class="nav-mobile">
    <nav>
        <span>Menu</span>
        <a href="/index.html#work" class="nav-item exclusion" data-cursor-stick>Work</a>
        <a href="/" class="nav-item exclusion" data-cursor-stick>About</a>
        <a href="/" class="nav-item exclusion" data-cursor-stick>Contact</a>
        <span>Social media</span>
        <a href="https://www.behance.net/neiltonsilva" target="_blank" class="exclusion">
            <h3>Behance</h3>
        </a>
        <a href="https://www.linkedin.com/in/neiltonline/" target="_blank" class="exclusion">
            <h3>Linkedin</h3>
        </a>
    </nav>
</div>