<div class="menu">
    <a href="/" class="logo" data-cursor-stick><img src="./imagens/logo.svg" alt="neiltonline" width="38px"></a>
    <div class="nav">
        <nav>
            <a href="/index.html#work" class="nav-item exclusion" data-cursor-stick>Work</a>
            <a href="/" class="nav-item exclusion" data-cursor-stick>About</a>
            <a href="/" class="nav-item exclusion" data-cursor-stick>Contact</a>
        </nav>
    </div>
    <a class="menuViewBox">
        <div class="menuLine"></div>
    </a>
</div>

<!-- MOBILE -->

<div class="nav-mobile">
    <nav>
        <span>Menu</span>
        <a href="/index.html#work" class="nav-item exclusion" data-cursor-stick>Work</a>
        <a href="/" class="nav-item exclusion" data-cursor-stick>About</a>
        <a href="/" class="nav-item exclusion" data-cursor-stick>Contact</a>
        <span>Social media</span>
        <a href="https://www.behance.net/neiltonsilva" target="_blank">
            <h3>Behance</h3>
        </a>
        <a href="https://www.linkedin.com/in/neiltonline/" target="_blank">
            <h3>Linkedin</h3>
        </a>
    </nav>
</div>