<div class="modal" id="modal">
    <button class="close closex" data-cursor-stick>
        <img class="closex" src="./imagens/close.svg" alt="Close" width="30" height="30" id="close">
    </button>

    <div class="modal-content">
        <div id="content-p01" w3-include-html="./portfolio/capitual.html" style="display: none"></div>
    </div>

    <div class="modal-content">
        <div id="content-p02" w3-include-html="./portfolio/capbusiness.html" style="display: none"></div>
    </div>

    <div class="modal-content">
        <div id="content-p03" w3-include-html="./portfolio/ekvilibro.html" style="display: none"></div>
    </div>

    <div class="modal-content">
        <div id="content-p04" w3-include-html="./portfolio/settle-kyc.html" style="display: none"></div>
    </div>

    <div class="modal-content">
        <div id="content-p05" w3-include-html="./portfolio/bruno-diniz.html" style="display: none"></div>
    </div>

</div>